@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --text-color: #000000;
  --primary: #000000;
  --secondary: #d0d0d0;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate > div {
  animation: diagonal-slide 4s infinite linear;
  animation-delay: calc(var(--i) * 0.4s);
}

@keyframes diagonal-slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -64px);
  }
}
